/grunt
build
bin
classes
node
/node_modules
bower_components/
styles/app.css
.gradle
.idea
*.iml
.classpath
.project
.settings
.tmp
.merge_file*
.sass-cache
.DS_Store
src/main/webapp/dist
src/main/generated
/realm5.ipr
/realm5.iwsclasses
application.pid
application.port
out/
tikatest1
/*.iws
batchjobs
rs-time.log*
schema/
src/main/resources/config/application-local.yml
src/test/resources/config/application-local.yml
tools/backendTests
package-lock.json
